[submodule "submodules/rotors_simulator"]
	path = submodules/rotors_simulator
	url = https://github.com/robot-perception-group/rotors_simulator
[submodule "submodules/moving_platform_control"]
	path = submodules/moving_platform_control
	url = https://github.com/robot-perception-group/moving_platform_control.git
